.main {
  height: fit-content;
  padding: 20px 10%;
  margin-bottom: 100px;
}

.heading_container {
  font-family: "Avenir Medium";
  font-size: 1.5em;
  text-transform: capitalize;
  margin: 3em 20px;
}

.heading_container h2:first-child {
  color: #100f0f;
  margin: -10px 0;
}
.heading_container h2:last-child {
  margin: -10px 0;
  color: white;
  -webkit-text-stroke: #100f0f 1.5px;
  letter-spacing: 2px;
}

.articles_container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 3em;
}

.article {
  position: relative;
  flex: 45%;

  display: flex;
  flex-flow: column;
}

.article_image {
  object-fit: cover;
  border-radius: 25px;
}
.article_body {
  text-align: center;
}
.article_posted_time {
  font-size: 0.8em;
  font-family: "Avenir Light";
  color: gray;
  margin-top: 1.5em;
}
.article_heading {
  margin: 10px;
  text-transform: capitalize;
}
