/* PRODUCT DETAILS CSS */

.cart_details {
  height: fit-content;
  width: 100%;
  background-color: white;
  border-radius: 14px;
  padding: 1em 0;
}

.cart_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.cart_info p {
  font-size: 1.8em;
}
.cart_info button {
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: transparent;
  color: #6282d4;
  padding: 5px 0.6em;
  font-family: "URW Geometric Medium";
  background-color: white;
  border: solid 1px #6282d4;
  border-radius: 8px;
  cursor: pointer;
}

.product_listing {
  height: fit-content;
  display: flex;
  flex-flow: column;
}
.product {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: "URW Geometric Medium";
  padding: 1em;
}
.product_image {
  position: relative;
  height: 4em;
  width: 4em;
  margin-right: 10px;
  border-radius: 12px;
}
.product_image img {
  object-fit: contain;
  border-radius: 12px;
}

.billing_section {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 1em 0;
}
.billing_section div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}
.billing_section div p:first-child {
  font-family: "URW Geometric Medium";
}
.billing_section div p:last-child {
  font-family: "URW Geometric SemiBold";
}

.total_bill {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.total_bill p {
  font-family: "URW Geometric Medium";
}
