.main {
  position: relative;
  height: 450px;
  padding: 20px 10%;
  background-color: white;
}

.slider {
  height: 100%;
  position: relative;
  padding: 10px;
}

.slider_slide {
  position: relative;
  display: flex;
  flex-flow: row;
  gap: 20px;
  background-color: white;
}
.slide_content {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 10px;
}
.slide_heading {
  text-transform: uppercase;
  font-family: "URW Geometric SemiBold";
}
.slide_posted_time {
  color: gray;
  font-size: 12px;
  margin: 0;
  padding: 0 2px;
  font-family: "URW Geometric Medium";
}
.slide_description {
  font-family: "URW Geometric Medium";
  margin: 15px 0;
}
.slide_link {
  color: black;
  font-family: "URW Geometric Medium";
  text-decoration: underline;
}
.slide_image {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide_image img {
  object-fit: cover;
  border-radius: 50%;
}

.prev_slide_el {
  width: 10%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0%;
  left: 0%;
  cursor: pointer;
}
.next_slide_el {
  width: 10%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .main {
    height: fit-content;
    padding: 0;
  }
  .prev_slide_el,
  .next_slide_el {
    display: none;
    width: 0;
  }

  .slider {
    padding: 0;
  }
  .slider_slide {
    flex-flow: column-reverse;
    border-radius: 0 0 50px 50px;
  }
  .slide_image {
    height: 200px;
  }
  .slide_image img {
    border-radius: 0;
  }
  .slide_content {
    font-size: 0.8em;
    padding: 20px;
    padding-bottom: 50px;
  }
}
