.main {
  margin: 4em auto;
  padding: 6em 10%;
  background-image: url(../../../cms/product-section-images/background.jpg);
  background-size: 15%;
  background-repeat: repeat;
  clip-path: polygon(
    50% 0%,
    100% 8%,
    100% 92%,
    50% 100%,
    50% 100%,
    0 92%,
    0 8%
  );
}

.main h1 {
  line-height: 150%;
  font-size: 3em;
  font-family: "URW Geometric SemiBold";
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px silver solid;
}

.product_listing {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
  padding: 20px;
}

.product {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;

  border-radius: 15px;
  background-color: white;

  padding: 15px;
}

.add_to_cart_icon {
  position: relative;
  height: 40px;
  width: 40px;
  align-self: flex-end;
  border: solid 1px #ededed;
  border-radius: 5px;
  cursor: pointer;
}
.add_to_cart_icon img {
  object-fit: contain;
}

.product_image {
  position: relative;
  min-height: 200px;
  min-width: 150px;
  height: 80%;
  width: 80%;
}
.product_image img {
  object-fit: contain;
}
.product img {
  border-radius: 15px;
}
.product_details {
  display: flex;
  flex-flow: column;
  height: fit-content;
}
.product_details div {
  display: flex;
  flex-flow: row;
  margin-top: 5px;
}

.product_price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.product_price p {
  display: inline;
  text-align: center;
  font-family: "URW Geometric ExtraBold";
}
.product_price p:last-child {
  color: gray;
  text-decoration: line-through;
}

.product_name {
  max-width: 210px;
  font-family: "Venus Egyptiene";
  font-size: 1.1em;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (max-width: 1000px) {
  .product_listing {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    padding: 35% 0.5em 35% 0.5em;
    background-size: 70%;
  }
  .main h1 {
    line-height: 100%;
    font-size: 1.7em;
    margin-bottom: 10px;
  }

  .product_listing {
    grid-template-columns: 48% 48%;
    padding: 0px;
    gap: 5px;
  }
  .product h4 {
    font-size: 0.7em;
  }
  .product p {
    font-size: 0.7em;
  }
  .product_name {
    width: 100%;
    font-size: 0.8em;
    white-space: normal;
  }
}
