@font-face {
  font-family: "Avenir Medium";
  src: url(../../cms/fonts/Avenir\ Medium.ttf);
}
@font-face {
  font-family: "Avenir Light";
  src: url(../../cms/fonts/Avenir\ Light.ttf);
}

.main {
  flex: 30%;
  position: relative;
  height: 200px;
  aspect-ratio: 16 / 9;
  background-color: #ededed;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.main a h3 {
  text-align: left;
  font-family: "Avenir Medium";
}

.main p {
  font-family: "Avenir Light";
  font-weight: 600;
}

.main div:last-child {
  position: absolute;
  bottom: 20%;
  left: 5%;
}

.image {
  position: absolute;
  top: 10%;
  right: 10%;

  display: inline-block;
}

.image img {
  border-radius: 999px;
}
