.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  min-height: 70px;
  max-height: fit-content;
}

.main a {
  backdrop-filter: blur(5px);
  color: black;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.main a:hover {
  background-color: #ededed;
}

@media only screen and (max-width: 1050px) {
  .main {
    padding: 10px 0;
  }
  .main a {
    border: solid 1px #bdb8b8;
    margin: 5px 5px;
  }
}
