.main {
  height: fit-content;
  position: relative;
  display: flex;
  gap: 10px;
  flex-flow: column;
  padding: 5% 10%;
}
.main .submain:first-child {
  flex: 40%;
}
.main .submain:nth-child(2) {
  width: 100%;
  flex: 60%;
  padding: 10px;
}
.main .first_heading {
  text-align: left;
  font-size: 3.5em;
  font-family: "URW Geometric SemiBold";
  line-height: 110%;
  font-weight: 1000;
  color: rgb(0, 102, 71);
}
.main .second_heading {
  text-align: left;
  font-size: 3.5em;
  font-family: "URW Geometric SemiBold";
  line-height: 110%;
  font-weight: 500;
  color: transparent;
  -webkit-text-stroke: rgb(0, 102, 71) 1.5px;
  margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
  .main .first_heading,
  .main .second_heading {
    font-size: 3em;
    padding: 5px;
    text-align: center;
  }

  .main {
    padding: 50px 10px;
  }
}
