.main {
  flex: 100%;
}

.topbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1.5em;
}
.topbar h2 {
  font-size: 2.5em;
  color: #17625a;
  letter-spacing: 3px;
}

.filters_container {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.filter_box {
  padding: 15px 2em;
  border-radius: 12px;
  border: solid 1px #dae0e4;
  cursor: pointer;
}

.product_listing {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
  padding: 20px;
}

.product {
  position: relative;
  min-height: 350px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;

  border-radius: 15px;
  background-color: white;

  padding: 15px;
}

.add_to_cart_icon {
  position: relative;
  height: 40px;
  width: 40px;
  align-self: flex-end;
  border: solid 1px #ededed;
  border-radius: 5px;
  cursor: pointer;
}
.add_to_cart_icon img {
  object-fit: contain;
}

.product_image {
  position: relative;
  height: 15em;
  width: 100%;
}
.product_image img {
  object-fit: contain;
}
.product img {
  border-radius: 15px;
}
.product_details {
  display: flex;
  flex-flow: column;
  height: fit-content;
}
.product_details div {
  display: flex;
  flex-flow: row;
  margin-top: 5px;
}

.product_price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.product_price p {
  display: inline;
  text-align: center;
}
.product_price p:first-child {
  font-family: "Avenir Medium";
  font-weight: 600;
}
.product_price p:last-child {
  font-family: "Avenir Light";
  color: gray;
  text-decoration: line-through;
}

.product_name {
  max-width: 210px;
  font-family: "Avenir Light";
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */
}

@media only screen and (max-width: 1050px) {
  .topbar {
    flex-flow: column;
    gap: 10px;
    padding: 5px;
  }

  .filter_box {
    padding: 0;
  }

  .product_listing {
    padding: 5px;
  }

  .product {
    max-height: 40%;
    width: 49%;
  }
  .product h4 {
    font-size: 0.7em;
  }
  .product p {
    font-size: 0.7em;
  }
  .product_name {
    margin: 0 auto;
    max-width: 80%;
  }
}
