.main {
  flex: 100%;
}

.topbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1.5em;
}
.topbar h2 {
  font-size: 2.5em;
  color: #17625a;
  letter-spacing: 3px;
}

.filters_container {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.filter_box {
  padding: 15px 2em;
  border-radius: 12px;
  border: solid 1px #dae0e4;
  cursor: pointer;
}

.product_listing {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}
