.main {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 10%;
  background-color: #b5d5d7;
}

.main h1 {
  line-height: 2.5em;
  letter-spacing: -5px;
  text-align: center;
  font-family: "Avenir Black";
  font-weight: 1000;
  font-size: 6em;
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.topSection {
  margin: -15% 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  gap: 3%;
}

.teamComment,
.mainProductImage,
.mainProductLabel {
  width: 32%;
}

.teamComment {
  display: flex;
  flex-flow: column;
  align-self: center;
  gap: 10px;
  padding: 20px 0 20px 30px;
}
.teamComment hr {
  width: 20%;
  height: 3px;
  background-color: #4e7675;
  border-radius: 999px;
}
.teamComment p {
  font-size: 1em;
  font-family: "Avenir Light";
  font-weight: 1000;
  padding-left: 10%;
  color: #4e7675;
}

.mainProductImage {
  position: relative;
  height: 50vh;
}
.mainProductImage img {
  object-fit: contain;
}

.mainProductLabel {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-self: flex-end;
  color: white;
  padding: 50px 0;
}
.mainProductLabel hr {
  width: 50%;
  height: 3px;
  background-color: white;
  border-radius: 999px;
}

.bottomSection {
  display: flex;
  flex-flow: row nowrap;
  background-color: #f6f5f7;
  border-radius: 14px 14px 0 0;
  padding: 50px 20px;
}

.productListing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 10px;
  padding: 0 15px;
}

.product {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 18px;
}

.product_image {
  position: relative;
  height: 250px;
  border-radius: 18px;
  background-color: white;
}
.product_image img {
  object-fit: contain;
  border-radius: 14px;
}

.product_details {
  height: 100px;
  padding: 10px;
}
.product_name {
  font-family: monospace;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.2em;
  color: #686869;
}
.product_price {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 5px;
  gap: 10px;
}
.product_price p:first-child {
  font-family: "Avenir Regular";
  font-weight: 1000;
}
.product_price p:last-child {
  font-family: "Avenir Light";
  font-weight: 1000;
  text-decoration: line-through;
  color: gray;
}

.add_to_cart_icon {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 12px;
  z-index: 100;
}
.add_to_cart_icon img {
  object-fit: contain;
}

.comment {
  width: 25%;
  display: flex;
  flex-flow: column;
}
.comment span {
  font-size: 2.5em;
  font-weight: 100;
  font-family: "Avenir Regular";
}
.comment span:nth-child(1) {
  color: #dd8a5d;
}
.comment span:nth-child(2) {
  color: #e1a7a2;
}
.comment span:nth-child(3) {
  color: #4b827c;
}
.comment span:nth-child(4) {
  color: #92382d;
}

@media only screen and (max-width: 1050px) {
  .main {
    height: fit-content;
    padding: 0;
  }
  .main h1 {
    font-size: 3em;
    line-height: 1em;
    margin: 1em 0;
    letter-spacing: 2px;
  }
  .topSection {
    margin: 0;
    flex-flow: column;
    align-items: center;
  }
  .mainProductImage,
  .mainProductLabel,
  .teamComment {
    width: 100%;
    text-align: center;
  }

  .teamComment {
    padding: 0;
  }
  .teamComment hr {
    margin: 0 auto;
    width: 80%;
  }
  .teamComment p {
    padding: 0 15px;
  }

  .mainProductLabel {
    padding: 0;
    margin-bottom: 2em;
  }
  .mainProductLabel hr {
    width: 80%;
    margin: 0 auto;
  }

  .bottomSection {
    height: fit-content;
    padding: 15px 5px;
  }
  .add_to_cart_icon {
    height: 25px;
    width: 25px;
    border-radius: 8px;
  }
  .productListing {
    width: 100%;
    padding: 10px;
  }
  .product_image {
    height: 20vh;
    border-radius: 22px;
  }
  .product_price {
    display: none;
  }

  .comment {
    display: none;
  }
}
