@font-face {
  font-family: "Avenir Black";
  src: url(../../../cms/fonts/Avenir-Black.otf);
}
@font-face {
  font-family: "Avenir Medium";
  src: url(../../../cms/fonts/Avenir\ Medium.ttf);
}

.main {
  position: relative;
  height: 100vh;
  background-color: rgb(144, 238, 210);
}

.main h1 {
  letter-spacing: -5px;
  line-height: 2.5em;
  text-align: center;
  font-family: "Avenir Black";
  font-weight: 1000;
  font-size: 7em;
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.teamComment {
  margin: -20px 10%;
  font-family: "Avenir Medium";
  font-weight: 600;
  color: green;
  width: 300px;
}
.teamComment hr {
  position: relative;
  left: -5%;
  height: 3px;
  width: 15%;
  margin-bottom: 15px;
  background-color: green;
  border: none;
  border-radius: 15px;
}

.specialAdvertisement {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 50%;
  width: 50%;
}
.specialAdvertisement .imageMain {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.specialAdvertisement .textMain {
  position: absolute;
  right: -35%;
  bottom: 10%;
  font-family: "Avenir Medium";
  color: white;
}
.specialAdvertisement .textMain hr {
  height: 3px;
  width: 20%;
  background-color: white;
  margin-top: 4px;
  margin-bottom: 8px;
  border: none;
  border-radius: 15px;
}

.specialProductsListingContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);

  display: flex;
  align-items: center;
  flex-flow: row;

  width: 80%;
  height: 40%;
  background-color: white;
  border-radius: 15px;
}
.specialProductsListingContainer .productListing {
  flex: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row;
}
.specialProductsListingContainer .comment {
  flex: 25%;
  display: flex;
  flex-flow: column;
  gap: 15px;
  font-size: 2.5em;
  font-family: "Avenir Black";
  text-overflow: clip;
}
.specialProductsListingContainer .comment span:nth-child(1) {
  color: green;
}
.specialProductsListingContainer .comment span:nth-child(2) {
  color: burlywood;
}
.specialProductsListingContainer .comment span:nth-child(3) {
  color: lightblue;
}
.specialProductsListingContainer .comment span:nth-child(4) {
  color: orange;
}

@media only screen and (max-width: 1050px) {
  .main {
    padding: 2em 0 0 0;
    min-height: 600px;
    height: fit-content;
  }
  .main h1 {
    font-size: 3em;
    line-height: normal;
    letter-spacing: 0px;
  }
  .teamComment {
    margin: 0 10%;
    width: 30%;
    font-size: 0.7em;
  }
  .specialAdvertisement .imageMain {
    top: -25%;
    height: 200%;
    width: 160%;
  }
  .specialAdvertisement .textMain {
    width: 50%;
    right: -30%;
    bottom: 20%;
    font-size: 0.5em;
  }
  .specialAdvertisement .textMain hr {
    width: 100%;
  }
  .specialAdvertisement .textMain p {
    text-align: center;
  }
  .specialProductsListingContainer {
    width: 100%;
    height: fit-content;
    border-radius: 15px 15px 0 0;
  }
  .specialProductsListingContainer .comment {
    display: none;
  }
}

.product {
  position: relative;
  max-width: 21%;
  height: fit-content;
  margin: 2% 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}

.product div:first-child {
  position: absolute;
  top: 2%;
  right: 2%;
  border: solid 1px #ededed;
  border-radius: 5px;
  z-index: 10;
}

.product div:nth-child(2) {
  margin-bottom: 1em;
}
.product div:nth-child(2) img {
  min-height: 100px;
  min-width: 100px;
}
.product img {
  border-radius: 15px;
}
.product div:nth-child(3) {
  display: flex;
  flex-flow: column;
  height: fit-content;
}
.product div:nth-child(3) div {
  display: flex;
  flex-flow: row;
  margin-top: 5px;
}

.product p {
  display: inline;
}
.product p:first-child {
  font-family: "Avenir Medium";
  font-weight: 600;
}
.product p:last-child {
  font-family: "Avenir Light";
  color: gray;
  text-decoration: line-through;
  margin-left: 10px;
}

.product h4 {
  font-family: "Avenir Light";
  text-align: left;
}

@media only screen and (max-width: 1050px) {
  .product {
    max-height: 40%;
    max-width: 45%;
  }
  .product h4 {
    font-size: 0.7em;
  }
  .product p {
    font-size: 0.7em;
  }
}
