.main {
  display: flex;
  flex-flow: row nowrap;
  padding: 50px 20%;
  background-color: #fcf8fa;
}

.submain_left,
.submain_right {
  flex: 50%;
  display: flex;
  flex-flow: column nowrap;
  padding: 25px 15px;
  gap: 50px;
}

.checkout_heading {
  font-size: 1.7em;
  font-family: "URW Geometric SemiBold";
  letter-spacing: 2px;
}
.checkout_heading h2:last-child {
  color: white;
  -webkit-text-stroke: black 1.5px;
}

/* LEFFT SIDE */
.credit_card_details {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  border: solid 1px #c2c0c3;
  border-radius: 22px;
  background-color: white;
  padding: 15px;
}

.credit_card_details .heading {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  font-family: "URW Geometric Medium";
  font-size: 1.1em;
  margin: 10px 0;
}
.credit_card_details .heading p:first-child {
  color: white;
  background-color: #92bfc2;
  padding: 0px 15px;
  border-radius: 15px;
}

.form {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "URW Geometric Medium";
  gap: 15px;
  margin-top: 20px;
}

@keyframes render {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
.form input {
  width: 100%;
  padding: 1em;
  border-radius: 12px;
  background-color: #f6f7fa;
  transition: all ease 0.3s;
  animation: render 0.3s linear 1;
}
.form input:focus {
  border: none;
  outline: none;
  background-color: #f6f7fa;
}
.form input::placeholder {
  display: block;
  font-family: "URW Geometric Medium";
}

.form div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;
}

.payment_method {
  height: fit-content;
  display: flex;
  flex-flow: column nowrap !important;
  align-items: center;
  border: solid 1px #c3c1c4;
  padding: 10px;
  border-radius: 12px;
  transition: all ease 1s;
}
.payment_method .heading {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1em;
}

.buttons_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.buttons_container button {
  padding: 12px 15px;
  border-radius: 12px;
  cursor: pointer;
}
.return_to_cart_button {
  background-color: white;
  border: solid 1px #b3b0b2;
}

.continue_to_shipping_button {
  background-color: #f86611;
  border: none;
  color: white;
}

/* RIGHT SIDE CSS */
.container {
  max-width: 400px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: solid 1px #e1dde0;
  border-radius: 14px;
}

.container .container_child {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;

  padding: 25px 15px;
  gap: 15px;
}

.step_number {
  color: #928f91;
  background-color: #edecee;
  font-family: "URW Geometric Medium";
  border-radius: 16px;
  padding: 5px 15px;
}

.container_child div h3 {
  font-family: "URW Geometric Medium";
  font-size: 1em;
}
.container_child div p {
  color: gray;
  font-family: "URW Geometric Regular";
  font-size: 0.9em;
}

.container_child button {
  margin-left: auto;
  padding: 5px 10px;
  font-size: 0.8em;
  font-family: "URW Geometric Medium";
  text-transform: uppercase;
  color: #7894db;
  background-color: white;
  border: solid 1px #6282d4;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .main {
    flex-flow: column-reverse;
    padding: 25px 10px;
  }
}
