.main {
  height: fit-content;

  display: flex;
  justify-content: flex-end;
  flex-flow: column;
}

.middleSection {
  height: fit-content;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1%;

  padding: 50px 10%;
  background-color: lightcyan;
}
.middleSection .pointerText {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 10px 15px 0px 15px;
}
.middleSection .pointerText h4 {
  flex: 20%;
  font-size: 1.3em;
  font-family: "URW Geometric SemiBold";
}
.middleSection .pointerText p {
  flex: 70%;
  font-family: "URW Geometric Regular";
  font-size: 0.75em;
  color: gray;
}
.middleSection .pointerText a {
  display: block;
  font-family: "URW Geometric SemiBold";
  text-align: center;
  justify-self: flex-end;
  padding: 10px;
  border-radius: 5px;
  background-color: orange;
  color: black;
}
.middleSection .blogLink {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
  border-radius: 15px;
}
.middleSection .blogLink .blogLinkImage {
  position: relative;
  min-height: 100px;
  height: 100%;
  width: 100%;
}
.middleSection .blogLink .blogLinkImage img {
  border-radius: 10px;
  object-fit: cover;
}
.middleSection .blogLink h4 {
  margin-top: 0.8em;
  line-height: 1.2em;
  font-size: 1.1em;
  font-family: "URW Geometric SemiBold";
}
.middleSection .blogLink p {
  font-family: "URW Geometric Regular";
  font-size: 0.8em;
  color: gray;
}

.lastSection {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5% 10%;
  font-family: "URW Geometric Regular";
  background-color: rgb(23, 98, 90);
}
.lastSection .firstDiv {
  width: 60%;
  color: white;
}
.lastSection .firstDiv h3 {
  display: inline-block;
  font-family: "URW Geometric SemiBold";
  font-size: 1.1em;
}
.lastSection .firstDiv p {
  display: inline-block;
  font-family: "URW Geometric SemiBold";
  font-size: 0.8em;
}

.lastSection .secondDiv {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.lastSection .secondDiv div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.lastSection .secondDiv div:first-child h3 {
  font-size: 1.2em;
  font-family: "URW Geometric Regular";
  font-weight: 600;
  color: white;
}
.lastSection .secondDiv div:first-child p {
  padding: 10px;
  color: white;
  font-size: 0.8em;
}
.lastSection .secondDiv div:first-child form {
  width: 100%;
  position: relative;
  display: flex;
  gap: 3%;
}
.lastSection .secondDiv div:first-child form input {
  padding: 15px 15px;
  border-radius: 8px;
  background-color: white;
  color: green;
  outline: none;
  border: none;
}

.lastSection .secondDiv div:first-child form button {
  background-color: orange;
  padding: 15px 20px;
  border-radius: 8px;
}
.lastSection .secondDiv div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.lastSection .secondDiv div:nth-child(2) h3 {
  color: white;
  font-family: "URW Geometric Regular";
  font-size: 1.2em;
}
.lastSection .secondDiv div:nth-child(2) p {
  display: flex;
  flex-flow: row;
  gap: 10px;
}
.lastSection .secondDiv div:nth-child(2) p img {
  background-color: white;
  border-radius: 4px;
  padding: 0 8px !important;
}
.lastSection .secondDiv div:nth-child(3) {
  color: white;
  margin: 0.7em 0;
  font-size: 1.2em;
  font-family: "URW Geometric Regular";
  font-weight: 600;
  font-size: 1em;
}
.lastSection .secondDiv div:nth-child(4) {
  color: white;
  font-family: "URW Geometric Regular";
  font-weight: 600;
  font-size: 1em;
}

.lastSection .thirdDiv {
  text-align: right;
  color: white;
}
.lastSection .thirdDiv h3 {
  display: inline-block;
}
.lastSection .thirdDiv ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.lastSection .thirdDiv ul li a {
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .main {
    height: fit-content;
  }
  .middleSection {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 10px;
  }
  .middleSection .pointerText p {
    margin-bottom: 1em;
  }
  .middleSection .pointerText {
    margin-bottom: 2em;
  }
  .middleSection .blogLink {
    min-height: 25vh;
    gap: 10px;
    margin-bottom: 1em;
  }
  .middleSection .blogLink h4 {
    margin: 0;
  }
  .pointerText,
  .blogLink {
    width: 100%;
  }
  .lastSection {
    height: fit-content;
    grid-template-columns: 1fr;
  }
  .lastSection .firstDiv {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    height: fit-content;
  }
  .middleSection {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 10px;
  }
  .middleSection .pointerText p {
    margin-bottom: 1em;
  }
  .middleSection .pointerText {
    margin-bottom: 2em;
  }
  .middleSection .blogLink {
    min-height: 25vh;
    gap: 10px;
    margin-bottom: 1em;
  }
  .middleSection .blogLink h4 {
    margin: 0;
  }
  .lastSection {
    height: fit-content;
    grid-template-columns: 1fr;
  }
}
