/* URW GEOMETRIC */
@font-face {
  font-family: "URW Geometric ExtraBold";
  src: url(../cms/fonts/URW\ Geometric/URWGeometricExtraBold.otf);
}
@font-face {
  font-family: "URW Geometric SemiBold";
  src: url(../cms/fonts/URW\ Geometric/URWGeometricSemiBold.otf);
}
@font-face {
  font-family: "URW Geometric Regular";
  src: url(../cms/fonts/URW\ Geometric/URWGeometricRegular.otf);
}
@font-face {
  font-family: "URW Geometric Medium";
  src: url(../cms/fonts/URW\ Geometric/URWGeometricMedium.otf);
}
@font-face {
  font-family: "URW Geometric Light";
  src: url(../cms/fonts/URW\ Geometric/URWGeometricLight.otf);
}

/* VENUS EGYPTIENE HALBRED FONT */
@font-face {
  font-family: "Venus Egyptiene";
  src: url(../cms/fonts/Venus\ Egyptienne\ W01\ Halbfett/Venus\ Egyptienne\ W01\ Halbfett.ttf);
}


html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
