@font-face {
  font-family: "Avenir Medium";
  src: url(../cms/fonts/Avenir\ Medium.ttf);
}
@font-face {
  font-family: "Avenir Regular";
  src: url(../cms/fonts/Avenir-Black.otf);
}
@font-face {
  font-family: "Avenir Light";
  src: url(../cms/fonts/Avenir\ Light.ttf);
}

html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}
