.submain {
  min-height: fit-content; /* CHANGE HEIGHT TO FIT CONTENT */
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  padding: 50px 10%;
  background-color: #f6f5f7;
}

@media only screen and (max-width: 800px) {
  .submain {
    padding: 50px 5px;
  }
}
