.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 50px 20%;
  background-color: #fcf8fa;
}

.submain_left,
.submain_right {
  flex: 50%;
  display: flex;
  flex-flow: column nowrap;
  padding: 25px 15px;
  gap: 40px;
}

.heading {
  font-size: 1.7em;
  font-family: "Avenir Regular";
  letter-spacing: 2px;
}
.heading h2:last-child {
  color: white;
  -webkit-text-stroke: black 1px;
}

.account_email {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border: solid 1px #e1dde0;
  border-radius: 14px;
  padding: 25px 15px;
  gap: 15px;
}

.step_number {
  color: #928f91;
  background-color: #edecee;
  border-radius: 16px;
  padding: 5px 15px;
}

.account_email div h3 {
  font-family: "Avenir Medium";
  font-size: 1em;
}
.account_email div p {
  color: gray;
  font-family: "Avenir Light";
  font-size: 0.9em;
}

.account_email button {
  padding: 5px 10px;
  font-size: 0.8em;
  font-family: "Avenir Medium";
  text-transform: uppercase;
  color: #7894db;
  background-color: white;
  border: solid 1px #6282d4;
  border-radius: 8px;
  cursor: pointer;
}

/* LEFFT SIDE */
.personal_details {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  border: solid 1px #c2c0c3;
  border-radius: 22px;
  background-color: white;
  padding: 15px;
  margin-top: -20px;
}

.personal_details .heading {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  font-family: "Avenir Medium";
  font-size: 1.1em;
  margin: 10px 0;
}
.personal_details .heading p:first-child {
  color: white;
  background-color: #92bfc2;
  padding: 0px 15px;
  border-radius: 15px;
}

.form {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "Avenir Medium";
  gap: 15px;
  margin-top: 20px;
}

.form input {
  width: 100%;
  padding: 1em;
  border-radius: 12px;
  background-color: #f6f7fa;
  transition: all ease 0.3s;
}
.form input:focus {
  border: none;
  outline: none;
  background-color: #f6f7fa;
}
.form input::placeholder {
  display: block;
  font-family: "Avenir Medium";
}

.form div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;
}

.form button {
  margin: 10px 0;
  padding: 1em;
  border-radius: 12px;
  font-family: "Avenir Medium";
  cursor: pointer;
}

.return_to_cart_button {
  background-color: white;
  border: solid 1px #b3b0b2;
}

.continue_to_shipping_button {
  background-color: #f86611;
  border: none;
  color: white;
}

/* FORM CSS FINSIHED */

@media only screen and (max-width: 1050px) {
  .main {
    flex-flow: column-reverse;
    padding: 25px 10px;
  }
  .submain_left,
  .submain_right {
    flex: none;
  }
}
